{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "indent": [1, 4, { "SwitchCase": 1 }],
    "comma-dangle": 0,
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/object-shorthand": 1,
    "babel/arrow-parens": 1,
    "babel/no-await-in-loop": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-indent-props": [2, 4],
    "react/jsx-indent": [2, 4],
    "react/prefer-stateless-function": 0,
    "react/no-unknown-property": 0,
    "max-len": [2, 500, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "global-require": 0
  },
  "plugins": [
    "babel",
    "react"
  ],
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./configures/webpack.release.js"
      }
    }
  }
}
